@charset "UTF-8";

/* GENERAL BUTTON STYLING */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid #545454;
  border-radius: 5px;
  color: black;
  display: block;
  font-size: 20px;
  font-weight: bold;
    margin: 0 auto;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

/* BUTTON 2 */