@charset "UTF-8";
#line-wrapper {
  cursor:pointer;
  width:50px;
  height:100%;
padding: 10px;
}

/* 추가된 부분 */
.init {
  animation:none !important;
}

.line {
  background: white;
  margin-top:6px;
  margin-bottom:6px;
  width:40px;
  height:7px; 
  border-radius:2px;
  position:relative;
}

.line-top {
  animation:line-top .5s forwards ease-out,
            line-top-rotate .3s .5s forwards ease-out;
}

/* 추가된 부분 */
.top-reverse {
  animation:line-top-rotate-reverse .3s forwards ease-out,
            line-top-reverse .5s .3s forwards ease-out;
}

.line-mid {
  animation:line-mid .5s forwards ease-out;
}

/* 추가된 부분 */
.mid-reverse {
  animation:line-mid-invisible .3s forwards ease-out, 
            line-mid-reverse .5s .3s forwards ease-out;
}

.line-bot {
  animation:line-bot .5s forwards ease-out,
            line-bot-rotate .3s .5s forwards ease-out;
}

/* 추가된 부분 */
.bot-reverse {
  animation:line-bot-rotate-reverse .3s forwards ease-out,
            line-bot-reverse .5s .3s forwards ease-out;
}

@keyframes line-top {
  0% {transform:translateY(0px)}
  100% {transform:translateY(13px)}
}

/* 추가된 부분 */
@keyframes line-top-reverse {
  0% {transform:translateY(13px)}
  100% {transform:translateY(0px)}
}

@keyframes line-top-rotate {
  0% {transform:translateY(13px) rotateZ(0deg)}
  100% {transform:translateY(13px) rotateZ(45deg)}
}

/* 추가된 부분 */
@keyframes line-top-rotate-reverse {
  0% {transform:translateY(13px) rotateZ(45deg)}
  100% {transform:translateY(13px) rotateZ(0deg)}
}

@keyframes line-mid {
  0% {transform:scale(1)}
  100% {transform:scale(0)}
}

/* 추가된 부분 */
@keyframes line-mid-reverse {
  0% {transform:scale(0)}
  100% {transform:scale(1)}
}

@keyframes line-mid-invisible {
  0% {transform:scale(0)}
  100% {transform:scale(0)}
}

@keyframes line-bot {
  0% {transform:translateY(0px)}
  100% {transform:translateY(-13px)}
}

/* 추가된 부분 */
@keyframes line-bot-reverse {
  0% {transform:translateY(-13px)}
  100% {transform:translateY(0px)}
}

@keyframes line-bot-rotate {
  0% {transform:translateY(-13px) rotateZ(0deg)}
  100% {transform:translateY(-13px) rotateZ(135deg)}
}

/* 추가된 부분 */
@keyframes line-bot-rotate-reverse {
  0% {transform:translateY(-13px) rotateZ(135deg)}
  100% {transform:translateY(-13px) rotateZ(0deg)}
}
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  top : 100px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidepanel */
  background-color: #FAFBFC;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #C4C4C4;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 30px;
  cursor: pointer;
  color: #545454;
  padding: 10px 15px;
  border: none;
  background-color: white;
}
.openbtn:hover {
    border-bottom: .5px solid #B6EAFA;
}

/* Style the button that is used to open the sidepanel */

